* {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.red_button {
  background-color: #ff4343;
  width: 370px;
  height: 78px;
}
.red_button a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 2px solid #babbc5;
  height: 100px;
  margin: 0 20px;
}
.header__wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 60px;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 20px;
}
.header__wrapper nav a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
}

.about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(37, 43, 73, 0.8)), to(rgba(37, 43, 73, 0.8))), url("/img/backgrounds/header_background.svg");
  background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)), url("/img/backgrounds/header_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 10px;
}
.about .title {
  color: white;
  font-size: 64px;
  line-height: 75px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 31.5px;
  margin-top: 130px;
}
.about .subtitle {
  color: white;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 82px;
  padding: 0 20px;
}

.services-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 116px;
}
.services-items .item {
  width: 370px;
  text-align: center;
  margin-bottom: 58px;
}
.services-items .item .item__img {
  width: 100px;
  height: 100px;
}
.services-items .item .item__title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 900;
  text-transform: uppercase;
  padding: 38px 0 30px 0;
}
.services-items .item .item__subtitle {
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #6c7279;
}

.team__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 30px;
  padding: 78px 20px 0 20px;
}
.team__block .team-item__img {
  width: 100%;
}
.team__block .team-item__info {
  margin: 30px 0 18px;
}
.team__block .team-item__info h4 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: capitalize;
}
.team__block .team-item__info h5 {
  color: #ff4343;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
}
.team__block span {
  color: #6c7279;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
}
.team__block .team-item__links {
  margin-top: 38px;
}

.gallery-scroll__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 114px;
  position: relative;
}
.gallery-scroll__container .gallery-scroll__img {
  width: 50%;
}
.gallery-scroll__container .gallery-scroll__img img {
  width: 100%;
}
.gallery-scroll__container .gallery-scroll__description {
  background-color: #5c3249;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}
.gallery-scroll__container .gallery-scroll__description .description__wrapper {
  text-align: start;
  max-width: 470px;
}
.gallery-scroll__container .gallery-scroll__description .description__wrapper .description-text {
  display: block;
  color: white;
  font-size: 36px;
  line-height: 48px;
  font-weight: 400;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.gallery-scroll__container .gallery-scroll__description .description__wrapper .description-name {
  color: white;
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.radio_btn_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}
.radio_btn_container .radio_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
}

.download {
  text-align: center;
  margin: 114px 0;
}
.download h3 {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}
.download h5 {
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 50px;
}

.contacts {
  background: #353c65;
}
.contacts .contacts_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 70px 0 70px 0;
}
.contacts .contacts_wrapper p {
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.contacts .contacts_wrapper span {
  color: white;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: capitalize;
}
.contacts .contacts_wrapper .location {
  width: 33%;
}
.contacts .contacts_wrapper .social_links {
  width: 33%;
}
.contacts .contacts_wrapper .social_links p {
  margin-bottom: 48px;
}
.contacts .contacts_wrapper .social_links div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 27px;
}
.contacts .contacts_wrapper .about_us {
  width: 33%;
}

.footer {
  background: #2c3154;
  padding: 24px 0 24px;
  text-align: center;
}
.footer h5 {
  width: 370px;
  color: #6c7279;
  margin: 0 auto;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  text-transform: capitalize;
}
.footer h5 span {
  color: white;
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 984px;
  }

  .red_button {
    width: 313px;
    height: 77px;
  }

  .header__wrapper {
    margin: 0 20px;
  }
  .header__wrapper nav {
    gap: 40px;
    margin-right: 10px;
  }
  .header__wrapper nav a {
    font-size: 12px;
    line-height: 14px;
  }

  .about {
    height: auto;
  }
  .about .title {
    font-size: 48px;
    line-height: 56px;
    font-weight: 900;
    margin-bottom: 62px;
    margin-top: 207px;
  }
  .about .subtitle {
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    margin-bottom: 82px;
    padding: 0 60px;
  }

  .services-items {
    padding-top: 78px;
  }
  .services-items .item {
    width: 315px;
    margin-bottom: 50px;
  }
  .services-items .item .item__img {
    width: 85px;
    height: 84px;
  }
  .services-items .item .item__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    padding: 30px 0 20px 0;
  }
  .services-items .item .item__subtitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }

  .team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 30px;
  }
  .team__block .team-item__img {
    width: 100%;
  }
  .team__block .team-item__info {
    margin: 25px 0 22px;
  }
  .team__block .team-item__info h4 {
    font-size: 18px;
    line-height: 21px;
  }
  .team__block .team-item__info h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .team__block span {
    font-size: 14px;
    line-height: 16px;
  }
  .team__block .team-item__links {
    margin-top: 39px;
  }

  .gallery-scroll__container {
    margin-top: 78px;
  }
  .gallery-scroll__container .gallery-scroll__description .description__wrapper {
    max-width: 330px;
  }
  .gallery-scroll__container .gallery-scroll__description .description__wrapper .description-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 15px;
  }
  .gallery-scroll__container .gallery-scroll__description .description__wrapper .description-name {
    font-size: 12px;
    line-height: 14px;
  }

  .download {
    margin: 77px 0;
  }
  .download h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
  }
  .download h5 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin-bottom: 45px;
  }

  .contacts {
    background: #353c65;
  }
  .contacts .contacts_wrapper {
    padding: 46px 0 41px 0;
  }
  .contacts .contacts_wrapper p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 17px;
  }
  .contacts .contacts_wrapper span {
    font-size: 14px;
    line-height: 16px;
  }
  .contacts .contacts_wrapper .social_links {
    width: 33%;
  }
  .contacts .contacts_wrapper .social_links p {
    margin-bottom: 32px;
  }
  .contacts .contacts_wrapper .social_links div {
    gap: 23px;
  }

  .footer {
    padding: 14px 0 14px;
  }
  .footer h5 {
    width: 314px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media screen and (max-width: 820px) {
  .container {
    margin: 0 auto;
    max-width: 768px;
  }

  .red_button {
    width: 280px;
    height: 77px;
    margin-bottom: 80px;
  }

  .header__wrapper {
    border: none;
  }
  .header__wrapper nav {
    display: none;
  }

  .about {
    height: auto;
  }
  .about .title {
    font-size: 36px;
    line-height: 42px;
    font-weight: 900;
    margin-bottom: 32px;
    margin-top: 106px;
  }
  .about .subtitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 51px;
    padding: 0 60px;
  }

  .services-items {
    gap: 20px;
    padding-top: 78px;
  }
  .services-items .item {
    width: 315px;
    margin-bottom: 50px;
  }
  .services-items .item .item__img {
    width: 75px;
    height: 74px;
  }
  .services-items .item .item__title {
    font-size: 18px;
    line-height: 21px;
    font-weight: 900;
    padding: 21px 0 10px 0;
  }
  .services-items .item .item__subtitle {
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
  }

  .team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    gap: 49px;
    width: 280px;
  }
  .team__block .team-item__info {
    margin: 25px 0 22px;
  }
  .team__block .team-item__info h4 {
    font-size: 18px;
    line-height: 21px;
  }
  .team__block .team-item__info h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .team__block span {
    font-size: 14px;
    line-height: 16px;
  }
  .team__block .team-item__links {
    margin-top: 39px;
  }

  .gallery-scroll__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 34px;
  }
  .gallery-scroll__container .gallery-scroll__img {
    width: 100%;
  }
  .gallery-scroll__container .gallery-scroll__description {
    width: 100%;
    padding: 25px 0 95px;
  }
  .gallery-scroll__container .gallery-scroll__description .description__wrapper {
    text-align: center;
    max-width: 280px;
  }
  .gallery-scroll__container .gallery-scroll__description .description__wrapper .description-text {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  .gallery-scroll__container .gallery-scroll__description .description__wrapper .description-name {
    color: white;
    font-size: 12px;
    line-height: 14px;
  }

  .download {
    margin-top: 34px 0 45px;
  }
  .download h3 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 500;
    padding: 0 40px;
  }
  .download h5 {
    font-size: 13px;
    line-height: 15px;
    font-weight: 700;
    margin-bottom: 13px;
  }
  .download button {
    height: 77px;
    margin-bottom: 45px;
  }

  .contacts .contacts_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 34px 0 34px 0;
    gap: 65px;
  }
  .contacts .contacts_wrapper p {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 34px;
  }
  .contacts .contacts_wrapper span {
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin: 0 21px;
  }
  .contacts .contacts_wrapper .location {
    width: 100%;
  }
  .contacts .contacts_wrapper .social_links {
    width: 100%;
  }
  .contacts .contacts_wrapper .social_links p {
    margin-bottom: 36px;
  }
  .contacts .contacts_wrapper .social_links div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 16px;
  }
  .contacts .contacts_wrapper .about_us {
    width: 100%;
  }
}