* {
  margin: 0;
  padding: 0;
}

.header {
  position: absolute;
  z-index: 1;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1170px;
}

.red_button {
  background-color: #ff4343;
  width: 370px;
  height: 78px;
  a {
    text-decoration: none;
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 900;
    text-transform: uppercase;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #babbc5;
  height: 100px;
  margin: 0 20px;
  nav {
    display: flex;
    align-items: center;
    gap: 60px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    a {
      text-decoration: none;
      color: white;
      font-size: 13px;
      line-height: 15px;
      font-weight: 700;
    }
  }
}

.about {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(rgba(37, 43, 73, 0.8), rgba(37, 43, 73, 0.8)),
    url("/img/backgrounds/header_background.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 0 10px;
  .title {
    color: white;
    font-size: 64px;
    line-height: 75px;
    font-weight: 900;
    text-transform: uppercase;
    margin-bottom: 31.5px;
    margin-top: 130px;
  }
  .subtitle {
    color: white;
    font-size: 24px;
    line-height: 28px;
    font-weight: 400;
    margin-bottom: 82px;
    padding: 0 20px;
  }
}

.services-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 116px;
  .item {
    width: 370px;
    text-align: center;
    margin-bottom: 58px;
    .item__img {
      width: 100px;
      height: 100px;
    }
    .item__title {
      font-size: 24px;
      line-height: 28px;
      font-weight: 900;
      text-transform: uppercase;
      padding: 38px 0 30px 0;
    }
    .item__subtitle {
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      color: #6c7279;
    }
  }
}

.team__block {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  padding: 78px 20px 0 20px;
  .team-item__img {
    width: 100%;
  }
  .team-item__info {
    margin: 30px 0 18px;
    h4 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 700;
      text-transform: capitalize;
    }
    h5 {
      color: #ff4343;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      text-transform: uppercase;
    }
  }
  span {
    color: #6c7279;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
  }
  .team-item__links {
    margin-top: 38px;
  }
}

.gallery-scroll__container {
  display: flex;
  margin-top: 114px;
  position: relative;
  .gallery-scroll__img {
    width: 50%;
    img {
      width: 100%;
    }
  }
  .gallery-scroll__description {
    background-color: #5c3249;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    .description__wrapper {
      text-align: start;
      max-width: 470px;
      .description-text {
        display: block;
        color: white;
        font-size: 36px;
        line-height: 48px;
        font-weight: 400;
        margin-bottom: 20px;
        text-transform: capitalize;
      }
      .description-name {
        color: white;
        font-size: 13px;
        line-height: 15px;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
}

.radio_btn_container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  .radio_btn {
    display: flex;
    gap: 25px;
  }
}

.download {
  text-align: center;
  margin: 114px 0;
  h3 {
    font-size: 30px;
    line-height: 35px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
  }
  h5 {
    font-size: 18px;
    line-height: 21px;
    font-weight: 700;
    margin-bottom: 50px;
  }
}

.contacts {
  background: #353c65;
  .contacts_wrapper {
    display: flex;
    text-align: center;
    justify-content: space-between;
    padding: 70px 0 70px 0;
    p {
      color: white;
      font-size: 18px;
      line-height: 21px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 25px;
    }
    span {
      color: white;
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      text-transform: capitalize;
    }
    .location {
      width: 33%;
    }
    .social_links {
      width: 33%;
      p {
        margin-bottom: 48px;
      }
      div {
        display: flex;
        justify-content: center;
        gap: 27px;
      }
    }
    .about_us {
      width: 33%;
    }
  }
}

.footer {
  background: #2c3154;
  padding: 24px 0 24px;
  text-align: center;
  h5 {
    width: 370px;
    color: #6c7279;
    margin: 0 auto;
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-transform: capitalize;
    span {
      color: white;
    }
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 auto;
    max-width: 984px;
  }

  .red_button {
    width: 313px;
    height: 77px;
  }

  .header__wrapper {
    margin: 0 20px;
    nav {
      gap: 40px;
      margin-right: 10px;
      a {
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  .about {
    height: auto;
    .title {
      font-size: 48px;
      line-height: 56px;
      font-weight: 900;
      margin-bottom: 62px;
      margin-top: 207px;
    }
    .subtitle {
      font-size: 18px;
      line-height: 21px;
      font-weight: 400;
      margin-bottom: 82px;
      padding: 0 60px;
    }
  }

  .services-items {
    padding-top: 78px;
    .item {
      width: 315px;
      margin-bottom: 50px;
      .item__img {
        width: 85px;
        height: 84px;
      }
      .item__title {
        font-size: 18px;
        line-height: 21px;
        font-weight: 900;
        padding: 30px 0 20px 0;
      }
      .item__subtitle {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
      }
    }
  }

  .team__block {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    .team-item__img {
      width: 100%;
    }
    .team-item__info {
      margin: 25px 0 22px;
      h4 {
        font-size: 18px;
        line-height: 21px;
      }
      h5 {
        font-size: 14px;
        line-height: 16px;
      }
    }
    span {
      font-size: 14px;
      line-height: 16px;
    }
    .team-item__links {
      margin-top: 39px;
    }
  }

  .gallery-scroll__container {
    margin-top: 78px;
    .gallery-scroll__description {
      .description__wrapper {
        max-width: 330px;
        .description-text {
          font-size: 24px;
          line-height: 32px;
          font-weight: 400;
          margin-bottom: 15px;
        }
        .description-name {
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }

  .download {
    margin: 77px 0;
    h3 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 500;
    }
    h5 {
      font-size: 14px;
      line-height: 16px;
      font-weight: 700;
      margin-bottom: 45px;
    }
  }

  .contacts {
    background: #353c65;
    .contacts_wrapper {
      padding: 46px 0 41px 0;
      p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 17px;
      }
      span {
        font-size: 14px;
        line-height: 16px;
      }

      .social_links {
        width: 33%;
        p {
          margin-bottom: 32px;
        }
        div {
          gap: 23px;
        }
      }
    }
  }

  .footer {
    padding: 14px 0 14px;
    h5 {
      width: 314px;
      font-size: 14px;
      line-height: 16px;
    }
  }
}

@media screen and (max-width: 820px) {
  .container {
    margin: 0 auto;
    max-width: 768px;
  }
  .red_button {
    width: 280px;
    height: 77px;
    margin-bottom: 80px;
  }

  .header__wrapper {
    border: none;
    nav {
      display: none;
    }
  }

  .about {
    height: auto;
    .title {
      font-size: 36px;
      line-height: 42px;
      font-weight: 900;
      margin-bottom: 32px;
      margin-top: 106px;
    }
    .subtitle {
      font-size: 14px;
      line-height: 16px;
      font-weight: 400;
      margin-bottom: 51px;
      padding: 0 60px;
    }
  }

  .services-items {
    gap: 20px;
    padding-top: 78px;
    .item {
      width: 315px;
      margin-bottom: 50px;
      .item__img {
        width: 75px;
        height: 74px;
      }
      .item__title {
        font-size: 18px;
        line-height: 21px;
        font-weight: 900;
        padding: 21px 0 10px 0;
      }
      .item__subtitle {
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
      }
    }
  }

  .team__block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 49px;
    width: 280px;
    .team-item__info {
      margin: 25px 0 22px;
      h4 {
        font-size: 18px;
        line-height: 21px;
      }
      h5 {
        font-size: 14px;
        line-height: 16px;
      }
    }
    span {
      font-size: 14px;
      line-height: 16px;
    }
    .team-item__links {
      margin-top: 39px;
    }
  }

  .gallery-scroll__container {
    display: flex;
    flex-direction: column;
    margin-top: 34px;
    .gallery-scroll__img {
      width: 100%;
    }
    .gallery-scroll__description {
      width: 100%;
      padding: 25px 0 95px;
      .description__wrapper {
        text-align: center;
        max-width: 280px;
        .description-text {
          font-size: 24px;
          line-height: 32px;
          font-weight: 400;
          margin-bottom: 20px;
        }
        .description-name {
          color: white;
          font-size: 12px;
          line-height: 14px;
        }
      }
    }
  }

  .download {
    margin-top: 34px 0 45px;
    h3 {
      font-size: 18px;
      line-height: 21px;
      font-weight: 500;
      padding: 0 40px;
    }
    h5 {
      font-size: 13px;
      line-height: 15px;
      font-weight: 700;
      margin-bottom: 13px;
    }
    button {
      height: 77px;
      margin-bottom: 45px;
    }
  }

  .contacts {
    .contacts_wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 34px 0 34px 0;
      gap: 65px;
      p {
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 34px;
      }
      span {
        font-size: 14px;
        line-height: 16px;
        display: block;
        margin: 0 21px;
      }
      .location {
        width: 100%;
      }
      .social_links {
        width: 100%;
        p {
          margin-bottom: 36px;
        }
        div {
          display: flex;
          justify-content: center;
          gap: 16px;
        }
      }
      .about_us {
        width: 100%;
      }
    }
  }
}
